* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(#F67280,#6C5B7B,#355C7D);
    background-attachment: fixed;
}

.darkMode{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px 15px 0px 0px;
}

.darkModeButton{
    width: 15px;
    height: 15px;
    background-image: linear-gradient(#1B262C,#0a324d,#1c4764);
    border-radius: 10px;
    border: 0px;
}

.calculatorSection{
    padding-top: 125px;
}

.calculatorContainer{
    background-color: rgba(221, 220, 220, 0.20);
    box-shadow: rgba(0, 0, 0, 0.192) 0px 5px 15px;
    width: fit-content;
    border-radius: 15px;
    margin: auto;
}

.row{
    display: flex;
}

.rowContainer{
    padding: 0px 5px 15px 5px;
}

.buttonContainer{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.calculatorButton{
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: rgba(221, 220, 220, 0);
    color: white;
    border-radius: 20px;
    border: 0px;
}

.calculatorButton:hover{
    background-color: rgba(221, 220, 220, 0.075);
    box-shadow: rgba(0, 0, 0, 0.125) 0px 5px 15px;
}

.screenContainer{
    height: 100px;
}

.operationContainer{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
    height: 60px;
}

.resultContainer{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
    height: 40px;
}

.tripleWidthButton{
    width: 140px;
}

.tripleWidthContainer{
    width: 150px;
}

.arrow{
    font-size: large;
}

#operation{
    color: white;
    font-size: x-large;
}

#result {
    font-size: small;
    color: rgb(190, 190, 190);
}

/* Delete After */

p{
    color: white;
}